@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Code', sans-serif;;
}

a {
    color: #fff;
}

a:visited {
    color:rgb(237, 255, 159)
}

header {
    background-image: linear-gradient(to left, rgb(128, 128, 128), #222);
    color: #fff;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    text-align: center;
    padding-bottom: 20px;
}

header > h1 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'Homemade Apple', cursive;
    font-size: 4.5vh;
}

main > p {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vh;
    line-height: 2em;
    font-size: 3vh;
}

section {
    background-color: #FFEFE2;
    background-image: url('../imagens/garota.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 10vh;
    font-size: 3vh;
    width: 100%;
    box-shadow: inset 6px 6px 13px 3px rgba(51, 51, 51, 0.747);
}

section > p {
    display: inline-block;
    background-color: rgba(32, 32, 32, 0.651);
    padding: 10px;
    text-shadow: 1px 1px rgba(51, 51, 51, 0.336);
}

footer {
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 20px;
    box-shadow: rgba(34, 34, 48, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-size: 2.8vh;
    line-height: 1.5em;
}